plugins/com.xerox.amazonws/repo/xsd/QueueService.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

	   xmlns:tns="http://queue.amazonaws.com/doc/2007-05-01/"
	   targetNamespace="http://queue.amazonaws.com/doc/2007-05-01/"
	   elementFormDefault="qualified">

  <xs:element name="ResponseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusCode" type="xs:string" minOccurs="1"/>
        <xs:element name="Message"    type="xs:string" minOccurs="0"/>  
        <xs:element name="RequestId"  type="xs:string" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AttributedValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Attribute"  type="xs:string" minOccurs="1"/>
        <xs:element name="Value"      type="xs:string" minOccurs="1"/>  
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--******************************************************************
      ** QueueService Interface
    -->
  
  <xs:element name="ListQueues">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueNamePrefix" type="xs:NCName" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ListQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueUrl" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CreateQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueName" type="xs:NCName" minOccurs="0"/>
        <xs:element name="DefaultVisibilityTimeout"
                    type="xs:integer" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreateQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueUrl" type="xs:anyURI" minOccurs="0"/>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Messaging interface
    -->

  <xs:element name="MessageId" type="xs:string"/>

  <xs:element name="MessageBody" type="xs:string"/>

  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:MessageId"  minOccurs="1"/>
        <xs:element ref="tns:MessageBody" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageBody" type="xs:string" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageId" type="xs:string" minOccurs="1"/>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ReceiveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NumberOfMessages" type="xs:integer" minOccurs="0"/>
        <xs:element name="VisibilityTimeout" type="xs:integer" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReceiveMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Message" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="PeekMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageId" type="xs:string" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PeekMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Message" minOccurs="0"/>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ChangeMessageVisibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageId" type="xs:string" minOccurs="1" />
        <xs:element name="VisibilityTimeout" type="xs:integer" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChangeMessageVisibilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageId" type="xs:string" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="DeleteQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ForceDeletion" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="SetQueueAttributes">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="tns:AttributedValue" minOccurs="1" maxOccurs="100" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="SetQueueAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetQueueAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Attribute" type="xs:string" minOccurs="0" maxOccurs="100" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetQueueAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:AttributedValue" minOccurs="1" maxOccurs="100" />
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Access Control interface
    -->


  <xs:complexType name="Grantee" abstract="true"/>
  <xs:complexType name="AmazonCustomerByEmail">
    <xs:complexContent>
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element name="EmailAddress" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmazonCredential">
    <xs:complexContent>
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element name="Credential" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CanonicalUser">
    <xs:complexContent>
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element name="ID" type="xs:string"/>
          <xs:element name="DisplayName" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   
  <xs:complexType name="User" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:Grantee"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:complexContent>
      <xs:extension base="tns:Grantee">
        <xs:sequence>
          <xs:element name="URI" type="xs:anyURI"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Grant">
    <xs:sequence>
      <xs:element name="Grantee" type="tns:Grantee" minOccurs="0"/>
      <xs:element name="Permission" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="AddGrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Grantee" type="tns:Grantee"/>
      <xs:element name="Permission" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddGrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>			
  </xs:element>

  <xs:element name="RemoveGrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Grantee" type="tns:Grantee"/>
        <xs:element name="Permission" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RemoveGrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ListGrants">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Grantee" type="tns:Grantee" minOccurs="0"/>
      <xs:element name="Permission" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListGrantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GrantList" type="tns:Grant" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
    <xs:element name="SetVisibilityTimeout">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="VisibilityTimeout" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="SetVisibilityTimeoutResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResponseStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetVisibilityTimeout">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetVisibilityTimeoutResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="VisibilityTimeout" type="xs:integer"/>
                <xs:element ref="tns:ResponseStatus" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
